.DS_Store
.vscode/

flat/
abis/
node_modules/
coverageEnv/
mythril/

#hardhat specific files
artifacts/
cache/
coverage/
build/
coverage.json

# Emacs backups
\#*#
.#*
*~

# Vim backups
.*.sw[po]

# hbbft-posdao-contracts specific files
.network
.pk
.mnemonic*
.env*

key
spec_aura.json
spec_hbbft.json
spec_validatorset.json
blockscout_verify.sh
